@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover {
    color: #9c8058 !important;
}

h5 {
    font-size: 22px;
    font-weight: 400;
}

li {
    list-style: none;
}

img {
    object-fit: cover;
    object-position: 50% 30%;
}

/* NAV BAR */

nav {
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.1);
}

nav ul, footer .top ul {
    display: flex;
    gap: 40px;
}

.contact {
    font-size: 14px;
    color: black;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid black;
    transition: all 0.3s ease;
}

a.contact:hover, 
.main .left a:hover {
    background-color: #9c8058;
    border-color: #9c8058;
    color: white !important;
    cursor: pointer;
}

nav button#menuButton {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 7px;
}

/* MAIN SECTION */

.main {
    background-color: #f3ece2;
    padding: 90px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    min-height: calc(100vh - 100px);
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3 {
    margin-top: 10px;
    font-weight: bold;
    font-size: 60px;
}

.main .left p {
    color: black;
    font-size: 22px;
    margin-top: 20px;
}

.main .left button {
    margin-top: 40px;
    color: white;
    cursor: pointer;
    background-color: black;
    padding: 14px 24px;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 16px;
}

.main .left #area {
    color: gray;
    font-size: 20px;
    margin-bottom: 60px;
}

.main .left #quoteauthor {
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}

.main .right img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
}

.main .left a {
    color: white;
    background-color: black;
    transition: all 0.3s ease;
}

/* EXPERIENCE SECTION */

.experience .education h1,
.experience .work h1,
.experience .community h1 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #9c8058;
    text-transform: uppercase;
}

.experience .item {
    margin-bottom: 40px;
}

.experience .item h5 {
    font-size: 18px;
    font-weight: bold;
}

.experience .item h4 {
    font-size: 18px;
    color: gray;
    font-weight: 500;
}

.experience .item p {
    font-size: 16px;
}

.experience .education .item h5 {
    display: block;
    display: flex;
    justify-content: space-between;
}

/* ABOUT SECTION */
.about, .experience {
    width: 700px;
    margin: 100px auto 100px;
    font-size: 18px;
}

.about h5 {
    margin: 50px 0;
    font-weight: 600;
}

.about p {
    margin-bottom: 50px;
}

.about p:first-child {
    margin-top: 100px;
    display: inline-block;
}

.about .social-links i,
.experience .social-links i {
    font-size: 24px;
}

/* FOOTER */

footer .logo {
    display: flex;
    align-items: center;
}

footer .logo img {
    width: 40px;
    height: 40px;
}

footer {
    background-color: white;
    padding: 65px;
    display: flex;
    flex-direction: column;
}

footer .top,
footer .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .bottom {
    font-size: 12px;
}

footer .bottom .links a {
    font-size: 12px;
    margin-left: 14px;
}

/* RESPONSIVE MEDIA QUERIES */

@media screen and (max-width: 1780px) {
    /* body {
        border: 3px solid indianred;
    } */

    nav {
        padding: 0 200px;
    }

    .main {
        padding: 90px 200px;
    }

    .main .right img {
        width: 400px;
        height: 400px
    }

    .main .left #area {
        margin-bottom: 10px;
    }

    .main .left p {
        color: black;
        font-size: 18px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 1200px) {
    /* body {
        border: 3px solid green;
    } */

    nav {
        padding: 0 100px;
    }

    .main {
        padding: 90px 100px;
        gap: 100px;
    }

    .main .left h5 {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 36px;
    }

    .main .left p {
        font-size: 18px;
    }

    .main .right img {
        width: 300px;
        height: 300px;
    }

    footer .top ul {
        gap: 20px;
    }
}

@media screen and (max-width: 992px) {

    /* body {
        border: 3px solid blue;
    } */
    
    nav .contact {
        display: none;
    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .main {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .main .left {
        align-items: center;
    }

    .about, .experience {
        width: 600px;
    }

    footer .top ul {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    /* body {
        border: 3px solid orange;
    } */
    
    nav {
        padding: 0 42px;
    }

    nav ul {
        display: none;
    }

    nav.open .logo {
        display: none;
    }

    nav.open ul {
        display: flex;
    }

    nav button#menuButton {
        display: flex;
    }

    .main {
        padding: 42px;
    }

    .main .right img {
        width: 350px;
        height: 350px;
    }

    .about, .experience {
        width: 500px;
        font-size: 16px;
        margin: 10px auto;
    }

    footer {
        padding: 85px 42px;
    }

    footer .bottom {
        flex-direction: column;
        gap: 14px;
    }
}

@media screen and (max-width: 576px) {

    /* body {
        border: 3px solid red;
    } */

    nav ul li a {
        font-size: 13px;
    }

    nav .logo a {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 32px;
    }

    .main .left p {
        font-size: 16px;
    }

    .main .left button {
        width: 100%;
    }

    .about, .experience {
        width: 400px;
        font-size: 16px;
    }

    .about p {
        margin-bottom: 20px;
    }

    footer {
        padding: 50px;
    }
}